profile = default
margin = 100
exp-grouping = preserve
doc-comments = before
break-separators = before
space-around-arrays = false
space-around-lists = false
space-around-records = false
type-decl = sparse
field-space = loose
sequence-style = separator
doc-comments-padding = 2
wrap-comments = true
if-then-else = keyword-first
let-and = sparse
space-around-records = true
break-cases = all
cases-exp-indent = 2